iframe {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.close-app {
	position: fixed;
	top: 0;
	z-index: 1;
	right: 17px;
	background: #d9534f;
	padding: 5px 20px;
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
}

.scan-app {
	position: fixed;
	top: 0;
	z-index: 1;
	right: 150px;
	background: #d9534f;
	padding: 5px 20px;
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
}

.operator-number {
  position: fixed;
  top: 1px;
  z-index: 999999;
  right: 70px;
  background: #FFFFFF;
  font-family: sans-serif;
  width: 50px;
  font-size: 18px;
}

.close-app:hover {
	background: #c9302c; 
}