{{input type="text" value=view.operatorNumber class="operator-number"}}
<a {{action 'scan' target="view"}} class="scan-app">Exportar</a>
<a {{action 'close'}} class="close-app">x</a>

<iframe src="http://www.juntaelectoral.gba.gov.ar/sistemas/epaos/login.php" frameborder="0" id="avales"></iframe>
